<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/app2.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="row">
		<div class="col-md-12">
			<table id="conversation" class="table table-striped">
				<thead>
					<tr>
						<th>Greetings</th>
					</tr>
				</thead>
				<tbody id="greetings">
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>